<div class="jumbotron" align="center">
    <img src="~/img/logo.png" />
    <h2>ASP.NET</h2>
    <p class="lead">
        Teste Analista Sistemas
    </p>


    <h2>Objetivo</h2>

    <p>
        Criar uma aplicação em MVC 5 utilizando banco de dados SQL Server Criar um CRUD de Contatos 
    </p>

</div>
